{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TiaoTV Slideshow</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="refresh" content="{{.Refresh}}" >
  <link rel="stylesheet" href="css/responsiveslides.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- See https://github.com/viljamis/ResponsiveSlides.js.git -->
  <script src="js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider1").responsiveSlides({
        speed: 800,
        timeout: {{.Timeout}},
      });
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <ul class="rslides" id="slider1">
{{ range $key, $value := .Files }}
    <li><img src="{{ $value }}" alt=""></li>
{{ end }}
    </ul>
  </div>
</body>
</html>
{{end}}
